beautifulsoup4
langchain
pytest
pytest-cov
scikit-learn
sentence-transformers
setuptools
torch --index-url https://download.pytorch.org/whl/cpu
transformers
# We use return_generator option that will be shipped in 1.4
joblib @ git+https://github.com/joblib/joblib.git@master