beautifulsoup4
faiss-cpu  # this is an unofficial package
fastapi
jinja2
joblib
langchain
numpydoc
pydantic
pydata-sphinx-theme
pytest
pytest-cov
scikit-learn
sentence-transformers
setuptools
sphinx
torch --index-url https://download.pytorch.org/whl/cpu/
transformers
uvicorn
websockets
