name: Unit Tests

on: [push]

jobs:
  build:
    strategy:
      matrix:
        # with macos-latest, we cannot use MPS to allocate memory
        # using macos-13 instead
        os: [ubuntu-latest, macos-13]
        environment: [cpu]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.26.1
          environments: ${{ matrix.environment }}
          frozen: true

      - name: Run tests
        run: pixi run --frozen -e ${{ matrix.environment }} test-ragger-duck

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.3.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: probabl-ai/sklearn-ragger-duck
